@model Smile.Northwind.MvcWebUI.Models.ProductViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Unit Price</th>
                <th>Product Units In Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.UnitPrice</td>
                <td>@item.UnitsInStock</td>
            </tr>
            }
        </tbody>
    </table>
